<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">

    <!-- <button class="btn btn-primary btn-lg btn-block" [routerLink]="['/presupuestos/crear-presupuesto']">Crear Pedido</button> -->
    <div class="row mt-5">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-black mb-0">Employees</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <form (submit)="filterById()" class="col-8 p2">
                            <label>
                              Id
                              <input type="number" name="id" id="employeeId" class="form-control" [(ngModel)]="employeeId" />
                            </label>
                            <button class="btn btn-primary" style="margin-left: 2%;" type="submit">Filter by ID</button>
                        </form>

                    </div>
                    <button class="btn btn-primary" style="margin-bottom: 2%;" (click)="clearFilters()">Clear Filters</button>

                    <br />
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">HourlySalary</th>
                                <th scope="col">MonthlySalary</th>
                                <th scope="col">Calc. Annual Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employees">
                                <td>
                                    {{employee.id}}
                                </td>
                                <td>
                                    {{employee.name}}
                                </td>
                                <td>
                                    {{employee.role.roleName}}
                                </td>
                                <td>
                                    {{employee.hourlySalary | currency:'USD' }}
                                </td>
                                <td>
                                    {{employee.monthlySalary | currency:'USD' }}
                                </td>
                                <td>
                                    {{employee.calculatedAnnualSalary | currency:'USD' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>