<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-black mb-0">Employees</h3>
                </div>
                <div class="card-body">
                    <form (submit)="filterEmployees()" class="col-8 p2">
                        <label>
                          Id
                          <input type="number" name="id" id="employeeId" class="form-control" [(ngModel)]="employeeId" />
                        </label>
                        <button class="btn btn-primary" style="margin: 1%;" type="submit">Filter by ID</button>
                        <button class="btn btn-primary" style="margin: 1%;" type="button" (click)="getAll()">Get All Employees</button>
                    </form>
                    <hr>
                    <br />
                    <table class="table row-border hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>HourlySalary</th>
                                <th>MonthlySalary</th>
                                <th>Calc. Annual Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employees">
                                <td>
                                    {{employee.id}}
                                </td>
                                <td>
                                    {{employee.name}}
                                </td>
                                <td>
                                    {{employee.role.roleName}}
                                </td>
                                <td>
                                    {{employee.hourlySalary | currency:'USD' }}
                                </td>
                                <td>
                                    {{employee.monthlySalary | currency:'USD' }}
                                </td>
                                <td>
                                    {{employee.calculatedAnnualSalary | currency:'USD' }}
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="employees.length == 0">
                            <tr>
                                <td colspan="6">
                                    No Records Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>